.navbar {
    display: flex;
    background-color: steelblue;
    height: 60px;
}

.navbar-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.Header-link {
    color: white;
    text-decoration: none;
    font-size: x-large;
    position: relative;
}

.Header-link:hover {
    text-decoration: underline;
}

.Header-link:active {
     color: black;
}

.Active-Route {
    text-decoration-line: underline;
}