.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.pageHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.addParkBtn{
    height: 36px;
    background-color: steelblue;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.addParkBtn:hover{
    background-color: thistle;
}

.parkList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25;
}